<div class="dialog-custom">

    <div class="dialog-heading">
        <h4 class="text-center"><strong>{{action == 'I' ? 'CADASTRAR' : 'EDITAR'}} NÍVEL CAPACIDADE</strong></h4>
    </div>

    <form name="formNivelCapacidade" ng-submit="" novalidate>
        <div class="dialog-body">
            <!-- NOME -->
            <div class="col-md-12">
                <p class="title"><strong>NOME: *</strong> </p>
                <ng-messages ng-if="formNivelCapacidade.$submitted" for="formNivelCapacidade.Nome.$error">
                    <ng-message when="required" class="error-message">
                        <p class="bg-danger"><i class="fa fa-warning"></i> Este campo é obrigatório</p>
                    </ng-message>
                </ng-messages>
                <input type="text" class="form-control" ng-class="{'validation-error' : formNivelCapacidade.$submitted && !nivelCapacidade.Nome}" name="Nome" ng-model="nivelCapacidade.Nome" required maxlength="100">
            </div>
            <!-- END NOME -->
            <!-- SIGLA -->
            <div class="col-md-12">
                <p class="title"><strong>SIGLA: *</strong> </p>
                <ng-messages ng-if="formNivelCapacidade.$submitted" for="formNivelCapacidade.Sigla.$error">
                    <ng-message when="required" class="error-message">
                        <p class="bg-danger"><i class="fa fa-warning"></i> Este campo é obrigatório</p>
                    </ng-message>
                </ng-messages>
                <input type="text" class="form-control" ng-class="{'validation-error' : formNivelCapacidade.$submitted && !nivelCapacidade.Sigla}" name="Sigla" ng-model="nivelCapacidade.Sigla" required maxlength="10">
            </div>
            <!-- END SIGLA -->            
            <!-- DESCRICAO -->
            <div class="col-md-12">
                <p class="title"><strong>DESCRIÇÃO: </strong> </p>
                <textarea class="form-control" name="Descricao" ng-model="nivelCapacidade.Descricao"></textarea>
            </div>
            <!-- END DESCRICAO -->

        </div>

        <div class="dialog-footer">
            <div class="col-md-5">
                <i class="requiredAlign">(*) Campos obrigatórios</i>
            </div>
            <div class="col-md-7 text-right">
                <button type="reset" value="Limpar" class="btn btn-link" ng-if="(action == 'I' || action == 'U')" ng-click="Reset(formNivelCapacidade)">Limpar</button>
                <button type="button" class="btn btn-default" ng-click="closeThisDialog()"><i class="fa fa-times"></i> Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-click="Save(action, formNivelCapacidade)" ng-enter="confirmEdit(action, formNivelCapacidade)"><i class="fa fa-floppy-o"></i> Salvar</button>
            </div>
        </div>
    </form>

</div>


