<div class="container" ng-init="GetAll()">
    
    <!-- HEADING -->
    <div class="heading">
        <div class="col-md-10">
            <form class="form-inline">
                <div class="form-group" id="div-procurar">
                    <input type="text" class="form-control" ng-model="search" placeholder="Procure..." name="search" id="procurar">
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="Open('I')">
                <i class="fa fa-plus"></i> Adicionar
            </button>
        </div>
    </div>
    <!-- END HEADING -->

    <!-- CONTENT -->
    <div class="content">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead style="background:#333333; color:#ffffff">
                    <tr>
                        <th id="nome">NOME</th>
                        <th id="sigla">TEMPLATE</th>                       
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="produtoTrabalho in produtoTrabalhoList | filter:search | itemsPerPage:7">
                        <td>{{produtoTrabalho.Nome}}</td>
                        <td>{{produtoTrabalho.Template}}</td>                       
                        <td class="col-md-2 text-center">
                            <div class="grid btn-group" ng-init="produtoTrabalho.caretUp = false">
                                <button type="button" ng-click="produtoTrabalho.caretUp = !produtoTrabalho.caretUp; $root.adjustMenu($event)" ng-blur="produtoTrabalho.caretUp = false" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Ações <span ng-class="(produtoTrabalho.caretUp) ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="" ng-click="Open('U', produtoTrabalho)"><i class="fa fa-edit"></i>&nbsp;Editar</a>
                                        <a href="" ng-click="Delete(produtoTrabalho)"><i class="fa fa-remove"></i>&nbsp;Excluir</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="grid-pagination">
                <dir-pagination-controls max-size="7" boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>