<div class="dialog-custom">

    <div class="dialog-heading">
        <h4 class="text-center"><strong>{{action == 'I' ? 'CADASTRAR' : 'EDITAR'}} PRODUTO TRABALHO</strong></h4>
    </div>

    <form name="formProdutoTrabalho" ng-submit="" enctype="multipart/form-data" novalidate>
        <div class="dialog-body">
            <!-- NOME -->
            <div class="col-md-12">
                <p class="title"><strong>NOME: *</strong> </p>
                <ng-messages ng-if="formProdutoTrabalho.$submitted" for="formProdutoTrabalho.Nome.$error">
                    <ng-message when="required" class="error-message">
                        <p class="bg-danger"><i class="fa fa-warning"></i> Este campo é obrigatório</p>
                    </ng-message>
                </ng-messages>
                <input type="text" class="form-control" ng-class="{'validation-error' : formProdutoTrabalho.$submitted && !produtoTrabalho.Nome}" name="Nome" ng-model="produtoTrabalho.Nome" required maxlength="100">
            </div>
            <!-- END NOME -->
            <!-- TEMPLATE -->
            <div class="col-md-12">
                <p class="title"><strong>TEMPLATE: *</strong> </p>
                <ng-messages ng-if="formProdutoTrabalho.$submitted" for="formProdutoTrabalho.Template.$error">
                    <ng-message when="required" class="error-message">
                        <p class="bg-danger"><i class="fa fa-warning"></i> Este campo é obrigatório</p>
                    </ng-message>
                </ng-messages>
                <input type="file" class="form-control" name="Template" ng-model="produtoTrabalho.Template">
            </div>
            <!-- END TEMPLATE -->           
        </div>

        <div class="dialog-footer">
            <div class="col-md-5">
                <i class="requiredAlign">(*) Campos obrigatórios</i>
            </div>
            <div class="col-md-7 text-right">
                <button type="reset" value="Limpar" class="btn btn-link" ng-if="(action == 'I' || action == 'U')" ng-click="Reset(formProdutoTrabalho)">Limpar</button>
                <button type="button" class="btn btn-default" ng-click="closeThisDialog()"><i class="fa fa-times"></i> Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-click="Save(action, formProdutoTrabalho)" ng-enter="confirmEdit(action, formProdutoTrabalho)"><i class="fa fa-floppy-o"></i> Salvar</button>
            </div>
        </div>
    </form>

</div>


